#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers th {
  background: dodgerblue;
  color: #fff;
}

#customers tr:nth-child(even) {
  background: #ccc;
}

#customers tr:nth-child(odd) {
  background: #f8f8e6;
}

#customers td{
  cursor: pointer;
}
#customers tr:hover{
  background: #77c2ee;
}

#customers th,
td {
  padding: 0.5em;
  text-align: left;
}
